html, input{
    font-family: sans-serif;
}

body{
    width:100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}

.headerContainer{
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(126, 16, 177);
    font-weight: bold;
    margin-bottom: 20px;
    padding:20px;
}

form{
    margin-top: 50px;
}

div{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
label, input, button{
    font-size:16px;
    line-height: 1.5;
}

label{
    text-align:right;
    width:30%;
    margin-right: 2%;
}

input{
    flex:auto;
}

button{
    width:70%;
    margin: 0 auto;
}
error-output{
    font-size:12px;
    font-style:italic;
    color:rgb(81, 41, 119);
}
@media (min-width: 320px) and (max-width: 768px){
    .headerContainer,form,div,label,button{
        padding: auto;
        margin: auto;
    }
    input,label{
        display: block;
        width: 50%;
    
    }
    button{
        background-color: brown;
    }
}
@media (min-width: 769px) and (max-width: 1280px){
    button{
        background-color: green;
    }

}